apiVersion: v1
kind: Service
metadata:
  name: api-service
  namespace: names-app
spec:
  type: ClusterIP
  selector:
    app: backend
  ports:
  - name: http
    protocol: TCP
    port: 5000
    targetPort: 8000
