apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: names-app
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
  - name: http
    protocol: TCP
    port: 80
    targetPort: 80
    nodePort: 30080  # Maps to Vagrantfile port forwarding
